@font-face {
font-family: "PT Sans";
src: url("../fonts/ptsans.woff2") format("woff2"),
     url("../fonts/ptsans.woff") format("woff");
font-weight: normal;
font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.page-header,
.container {
  background-color: #ffffff;
}

.main-navigation {
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.site-navigation {
  padding: 0;

  list-style: none;
}

.main-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0,0,0,0.3);
}

a.active,
a.active:hover,
a.active:focus,
a.active:active {
  color: #766357;
}

.welcome-text {
  background-color: #788596;
  background-image: 
    url("../img/shapebackground.png"),
    url("../img/center.jpg");
  background-position: 0 bottom, 0 0;
  background-repeat: no-repeat;
}

.features-title h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.features-title p {
  line-height: 26px;
}

.features ul,
.feature-detail ul {
  padding: 0;

  list-style: none;
}

.feature h2, 
.feature-about h3 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.feature-text {
  color: #ffffff;

  background-color: #81b3d2;
}

.feature-text h2 {
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
}

.gray-background {
  background-color: #eeeeee;
}

.hotel-search h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.hotel-search p {
  line-height: 24px;
}

a.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;

  background-color: #766357;
}

a.search-button:hover,
a.search-button:focus {
  background-color: #604e43;
}

a.search-button:active {
  color: rgba(255,255,255,0.3);

  background-color: #503e33;
}

.search-form input[type="text"],
.search-form label {
  font: inherit;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  border: none;
} 

.search-form input[type="text"]:hover {
  background-color: #ebebeb;
}

.search-form input[type="text"]:focus {
  border: 2px solid #ebebeb;
  outline: none;
}

.search-form button {
  background-color: transparent;
  border: none;
}

.search-form button[type="submit"] {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.search-form button[type="submit"]:hover,
.search-form button[type="submit"]:focus {
  background-color: #669ec0;
}

.search-form button[type="submit"]:active {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.inner-page.container {
  background-color: #fefefe;
}

.hotel-search-form {
  background-color: #505c64;
  background-image: url("../img/center.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.hotel-form fieldset {
  border: none;
}

.hotel-form .fieldset-title {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.hotel-form label {
  color: #ffffff;
}

.range label {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.range span {
   color: #ffffff;
}

.price-borders {
  border: 2px solid #ffffff;
}

.hotel-form button[type="submit"] {
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.search-result b {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.search-options span {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.options-list,
.options-sort {
  padding: 0;
  list-style: none;
}

.options-list a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #81b3d2;
}

.options-list a:hover,
.options-list a:focus  {
  color: #81b3d2;
}

.options-list a:active {
  color: #000000;
  text-decoration: none;
}
.options-list .current {
  color: #81b3d2;
  text-decoration: none;
}

.hotel-list {
  padding: 0;
  
  list-style: none;
}

a.hotel-name { 
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

a.hotel-name:hover,
a.hotel-name:focus { 
  color: #81b3d2;
}

a.hotel-name:active { 
  color: rgba(0,0,0,0.3);
}

.hotel-rating {
  color: #666666;
}

a.order-button {
  font-weight: bold;
  color: #ffffff;

  background-color: #766357;
}

a.order-button:hover,
a.order-button:focus {
  background-color: #604e43;
}

a.order-button:active {
  color: rgba(255,255,255,0.3);

  background-color: #503e33;
}

a.detail-button {
  font-weight: bold;
  color: #ffffff;

  background-color: #81b3d2;
}

a.detail-button:hover,
a.detail-button:focus {
  background-color: #669ec0;
}

a.detail-button:active {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.page-footer {
  background-color: #fefefe;
}

.main.page-footer {
  background-color: rgba(254,254,254,0.9);
}

.footer-tag a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.footer-social ul {
  padding: 0;

  list-style: none;
}

.footer-social a {
  background-color: #81b3d2;
}

.footer-social a:hover,
.footer-social a:focus {
  background-color: #669ec0;
}

.footer-social a:active {
  background-color: #5496bd;
}

.footer-copyright span {
  line-height: 26px;
  color: #000000;
}
